<div class="fixed right-2 top-2 text-white  rounded-lg flex items-center gap-3">
    <i (click)="navigate(MainRoutesEnum.MAP)" class="fa-solid fa-location-dot cursor-pointer"></i>
    <i (click)="navigate(MainRoutesEnum.PUBLISHES)" class="fa-solid fa-compact-disc cursor-pointer"></i>
    <i (click)="navigate(MainRoutesEnum.CONCERT_HALLS)" class="fa-solid fa-house-crack cursor-pointer"></i>
    <i (click)="navigate(MainRoutesEnum.CONCERTS)" class="fa-solid fa-music cursor-pointer"></i>
    <i (click)="navigate(MainRoutesEnum.USERS)" class="fa-solid fa-users cursor-pointer"></i>
    <i (click)="navigate(MainRoutesEnum.BANDS)" class="fa-solid fa-podcast cursor-pointer"></i>
    <div class="ml-6 lg:ml-8">
        <i (click)="navigate(MainRoutesEnum.PROFILE)" class="fa fa-user cursor-pointer"></i>
    </div>
</div>